Umea.se.ExempelApplikation.ServiceWrapper/Service References/HemortServiceTier/HemortService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HemortService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57583/HemortService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57583/HemortService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" />
      <xsd:import schemaLocation="http://localhost:57583/HemortService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57583/HemortService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHemortService_GetCountries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountries" />
  </wsdl:message>
  <wsdl:message name="IHemortService_GetCountries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IHemortService_GetCountries_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="IHemortService_GetHomes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomes" />
  </wsdl:message>
  <wsdl:message name="IHemortService_GetHomes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomesResponse" />
  </wsdl:message>
  <wsdl:message name="IHemortService_GetHomes_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:message name="IHemortService_GetHomesByCountryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomesByCountryId" />
  </wsdl:message>
  <wsdl:message name="IHemortService_GetHomesByCountryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomesByCountryIdResponse" />
  </wsdl:message>
  <wsdl:message name="IHemortService_GetHomesByCountryId_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" name="detail" element="q3:Error" />
  </wsdl:message>
  <wsdl:portType name="IHemortService">
    <wsdl:operation name="GetCountries">
      <wsdl:input wsaw:Action="http://tempuri.org/IHemortService/GetCountries" message="tns:IHemortService_GetCountries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHemortService/GetCountriesResponse" message="tns:IHemortService_GetCountries_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHemortService/GetCountriesErrorFault" name="ErrorFault" message="tns:IHemortService_GetCountries_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHomes">
      <wsdl:input wsaw:Action="http://tempuri.org/IHemortService/GetHomes" message="tns:IHemortService_GetHomes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHemortService/GetHomesResponse" message="tns:IHemortService_GetHomes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHemortService/GetHomesErrorFault" name="ErrorFault" message="tns:IHemortService_GetHomes_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHomesByCountryId">
      <wsdl:input wsaw:Action="http://tempuri.org/IHemortService/GetHomesByCountryId" message="tns:IHemortService_GetHomesByCountryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHemortService/GetHomesByCountryIdResponse" message="tns:IHemortService_GetHomesByCountryId_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IHemortService/GetHomesByCountryIdErrorFault" name="ErrorFault" message="tns:IHemortService_GetHomesByCountryId_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHemortService" type="tns:IHemortService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCountries">
      <soap:operation soapAction="http://tempuri.org/IHemortService/GetCountries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHomes">
      <soap:operation soapAction="http://tempuri.org/IHemortService/GetHomes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHomesByCountryId">
      <soap:operation soapAction="http://tempuri.org/IHemortService/GetHomesByCountryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HemortService">
    <wsdl:port name="BasicHttpBinding_IHemortService" binding="tns:BasicHttpBinding_IHemortService">
      <soap:address location="http://localhost:57583/HemortService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>