Umea.se.ExempelApplikation.ServiceWrapper/Service References/PersonServiceTier/PersonService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57583/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" />
  <xs:element name="GetPersonerByMany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="discriminator" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" minOccurs="0" name="courses" nillable="true" type="q1:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonerByManyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" minOccurs="0" name="GetPersonerByManyResult" nillable="true" type="q2:ArrayOfPerson" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonInformationById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonInformationByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" minOccurs="0" name="GetPersonInformationByIdResult" nillable="true" type="q3:PersonInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>