Umea.se.ExempelApplikation.ServiceWrapper/Service References/CourseServiceTier/CourseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57583/CourseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="Credits" type="xs:int" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:Department" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="Enrollment" nillable="true" type="tns:ArrayOfEnrollment" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:ArrayOfPerson" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:complexType name="Department">
    <xs:sequence>
      <xs:element minOccurs="0" name="Budget" type="xs:decimal" />
      <xs:element minOccurs="0" name="Course" nillable="true" type="tns:ArrayOfCourse" />
      <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      <xs:element minOccurs="0" name="InstructorID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Department" nillable="true" type="tns:Department" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" nillable="true" type="tns:ArrayOfCourse" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="tns:ArrayOfDepartment" />
      <xs:element minOccurs="0" name="Discriminator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enrollment" nillable="true" type="tns:ArrayOfEnrollment" />
      <xs:element minOccurs="0" name="EnrollmentDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HireDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Home" nillable="true" type="tns:Home" />
      <xs:element minOccurs="0" name="HomeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OfficeAssignment" nillable="true" type="tns:OfficeAssignment" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfDepartment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Department" nillable="true" type="tns:Department" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartment" nillable="true" type="tns:ArrayOfDepartment" />
  <xs:complexType name="ArrayOfEnrollment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Enrollment" nillable="true" type="tns:Enrollment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnrollment" nillable="true" type="tns:ArrayOfEnrollment" />
  <xs:complexType name="Enrollment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Course" nillable="true" type="tns:Course" />
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="EnrollmentID" type="xs:int" />
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
      <xs:element minOccurs="0" name="StudentID" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Enrollment" nillable="true" type="tns:Enrollment" />
  <xs:complexType name="Home">
    <xs:sequence>
      <xs:element minOccurs="0" name="HomeId" type="xs:int" />
      <xs:element minOccurs="0" name="HomeText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:ArrayOfPerson" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Home" nillable="true" type="tns:Home" />
  <xs:complexType name="ArrayOfPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerson" nillable="true" type="tns:ArrayOfPerson" />
  <xs:complexType name="OfficeAssignment">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstructorID" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Person" nillable="true" type="tns:Person" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="OfficeAssignment" nillable="true" type="tns:OfficeAssignment" />
  <xs:complexType name="ArrayOfHome">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Home" nillable="true" type="tns:Home" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHome" nillable="true" type="tns:ArrayOfHome" />
</xs:schema>