Umea.se.ExempelApplikation.ServiceWrapper/Service References/CourseServiceTier/CourseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="tns:ErrorCodes" />
      <xs:element minOccurs="0" name="LogId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
  <xs:simpleType name="ErrorCodes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Exception" />
      <xs:enumeration value="LogicValidationException" />
      <xs:enumeration value="SecurityException" />
      <xs:enumeration value="SqlException" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ErrorCodes" nillable="true" type="tns:ErrorCodes" />
</xs:schema>