Umea.se.ExempelApplikation.ServiceWrapper/Service References/CourseServiceTier/CourseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57583/CourseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" />
  <xs:element name="GetCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" minOccurs="0" name="GetCoursesResult" nillable="true" type="q1:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHomesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" minOccurs="0" name="GetHomesResult" nillable="true" type="q2:ArrayOfHome" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>