Umea.se.ExempelApplikation.ServiceWrapper/Service References/CourseServiceTier/CourseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57583/CourseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57583/CourseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" />
      <xsd:import schemaLocation="http://localhost:57583/CourseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57583/CourseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.DataObjectLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseService_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetCourses_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" name="detail" element="q1:Error" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetHomes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHomes" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetHomes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHomesResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_GetHomes_ErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Umea.se.ExempelApplikation.Utilities.Exceptions" name="detail" element="q2:Error" />
  </wsdl:message>
  <wsdl:portType name="ICourseService">
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetCourses" message="tns:ICourseService_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetCoursesResponse" message="tns:ICourseService_GetCourses_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/GetCoursesErrorFault" name="ErrorFault" message="tns:ICourseService_GetCourses_ErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHomes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/GetHomes" message="tns:ICourseService_GetHomes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/GetHomesResponse" message="tns:ICourseService_GetHomes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ICourseService/GetHomesErrorFault" name="ErrorFault" message="tns:ICourseService_GetHomes_ErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseService" type="tns:ICourseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetHomes">
      <soap:operation soapAction="http://tempuri.org/ICourseService/GetHomes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ErrorFault">
        <soap:fault use="literal" name="ErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseService">
    <wsdl:port name="BasicHttpBinding_ICourseService" binding="tns:BasicHttpBinding_ICourseService">
      <soap:address location="http://localhost:57583/CourseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>